.top {
  z-index: 3;
  
  position: relative;
  color: var(--grey);
}

.topMenu {
  z-index: 2;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 15px;
  background: var(--bg);
  height: 100%;
}
.tophovers {
  transition: 0.3s ease;
  color: inherit;
}
.tophovers:hover {
  color: black;
}

.topSearch {
  flex: 1;

  background: transparent;
  border: none;
  outline: none;
  padding-inline: 7px;
  border-bottom: solid 1px transparent;
  font-size: .8rem;
  margin-inline: 10px;
}
.topSearch:focus {
  border-bottom: solid 1px;
}

.topinviteBtn {
  display: flex;
  align-items: center;

  margin-inline: 10px;
  font-size: .7rem;
  font-weight: 500;
}
.topinviteBtn > svg {
  margin-inline-end: 5px;
}

.topuserIconBtn > img {
  border-radius: 100%;
}


/* --------drawer--------- */
.topDrawer {
  z-index: 1;
  position: absolute;

  display: flex;
  align-items: center;

  height: 50%;
  width: 100%;
  background: var(--bg);
  margin-block-start: 10px;
  padding-inline: 15px;
  /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);*/
  transition: 0.3s ease;
}
.topdrawerBtn {
  font-size: .7rem;
  font-weight: bold;
  color: inherit;
  padding-inline: 15px;
  border-bottom: solid transparent;
}
.topdrawerBtnActive {
  border-bottom: solid;
}
.topdrawerBtn:hover {
  border-bottom: solid;
}

.topdrawerOptBtn {
  color: var(--grey);
}