.top {
  z-index: 3;
  
  position: relative;
  color: var(--grey);
}
/* --------------menu ---------------- */
.topMenu {
  z-index: 2;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 15px;
  background: var(--bg);
  height: 100%;
}
.tophovers {
  transition: 0.3s ease;
  color: inherit;
}
.tophovers:hover {
  color: black;
}

/*  --------------------- searcth-------------- */
.topSearch {
  flex: 1;

  background: transparent;
  border: none;
  outline: none;
  padding-inline: 7px;
  border-bottom: solid 1px transparent;
  font-size: .8rem;
  margin-inline: 10px;
}
.topSearch:focus {
  border-bottom: solid 1px;
}

/* ---------------invite ------------------ */
.topinviteBtn {
  display: flex;
  align-items: center;

  margin-inline: 10px;
  font-size: .7rem;
  font-weight: 500;
}
.topinviteBtn > svg {
  margin-inline-end: 5px;
}

/* ------------------- user icon options------------------------- */
.topuserOptionsCont {
  position: relative;
}
.topuserOptions {
  position: absolute;
  left: calc(100% - 190px);

  display: none;
  flex-direction: column;

  padding: 20%;
  width: 180px;
  background: var(--bg);
  font-size: 0.7rem;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
.topuserOptions > hr {
  margin-block: 5%;
  border:  none;
  border-bottom: solid 1px lightgrey;
}

.topuserOptions > section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4%;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}
.topuserOptions > section > button {
  padding: 0;
}
.topuserOptions > section:hover {
  background: var(--dbg);
}

.topuserOptions input[type="checkbox"] {
  display: none;
}

.endi {
  position: relative;
  background: var(--grey);
  width: 30px;
  height: 13px;
  border-radius: 20px;
  transition: 0.1s linear;
}
.endiEnabled {
  background: #00c7ff;
}
.disabledI{
  position: absolute;
  top: 2px;
  left: 5%;
  height: 70%;
  aspect-ratio: 1;
  border-radius: 100%;
  background: rgba(255,255,255, 1);
  backdrop-filter: blur(10px);
  transition: 0.1s linear;
}
.enabledI {
  left: 63%;
}

.topuserIconBtn > img {
  border-radius: 100%;
}


/* -------------------------drawer---------------------- */
.topDrawer {
  z-index: 1;
  position: absolute;

  display: flex;
  align-items: center;

  height: 50%;
  width: 100%;
  background: var(--bg);
  margin-block-start: 10px;
  padding-inline: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.topdrawerBtn {
  font-size: .7rem;
  font-weight: bold;
  color: inherit;
  padding-inline: 15px;
  border-bottom: solid transparent;
}
.topdrawerBtnActive {
  border-bottom: solid;
}
.topdrawerBtn:hover {
  border-bottom: solid;
}

.topdrawerOptBtn {
  color: var(--grey);
}