.top {
  position: relative;
  color: var(--grey);
}

.topMenu {
  z-index: 2;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 15px;
  background: var(--bg);
}
.hovers {
  transition: 0.3s ease;
  margin-inline: 10px;
}
.hovers:hover {
  color: black;
}

.menuIconBtn {
  color: inherit;
}

.topSearch {
  flex: 1;

  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  padding-inline: 7px;

  font-size: .8rem;
}
.topSearch:focus {
  outline: 1px solid;
}

.inviteBtn {
  display: flex;
  align-items: center;

  color: inherit;
  font-size: .7rem;
  font-weight: 500;
}
.inviteBtn > svg {
  margin-inline-end: 5px;
}

.notiIconBtn {
  color: inherit;
}

.userIconBtn {
}
.userIconBtn > img {
  border-radius: 100%;
}


/* --------drawer--------- */
.topDrawer {
  z-index: 1;
  position: absolute;

  display: flex;
  align-items: center;

  width: 100%;
  margin-block-start: 10px;
  padding-inline: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.drawerBtn {
  font-size: .7rem;
  font-weight: bold;
  color: inherit;
  padding-inline: 15px;
  border-bottom: solid transparent;
}
.drawerBtnActive {
  border-bottom: solid;
}
.drawerBtn:hover {
  border-bottom: solid;
}

.drawerOptBtn {
  color: var(--grey);
}