.mid {
  position: relative;

  color: var(--grey);
  height: 100%;
  overflow-y: hidden;
}


/* Tooltip text */
.tooltiptext {
  display: none;
  width: max-content;
  background-color: var(--grey);
  color: #fff;
  text-align: center;
  font-size: .6rem;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--grey) transparent transparent transparent;
}
button:hover .tooltiptext {
  display: initial;
}
.left {
  float: left;
  position: relative;

  display: grid;
  grid-template-rows: .1fr .1fr 1fr;
  align-items: start;

  background: var(--dbg);
  border-radius: 5px;
  padding-inline: 15px;
  width: 30%;
  height: 100%;
  transition: 0.3s ease;
}

.leftOptions {
  grid-row: 2 / 3;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lefthovers {
  position: relative;

  transition: 0.3s ease;
  color: inherit;
  padding: 0;
  margin-inline-start: 2%;
}
.lefthovers:hover {
  color: black;
}
.leftname {
  flex: 1;

  font-size: .8rem;
  background: transparent;
  outline: none;
  border: none;
}
.addfolder {
  margin-inline-end: 3px;
}

.leftcontainerArea {
  grid-row: 3 / 4;

  height: 100%;
  padding-inline-end: 2%;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, .1);
}

.containers {
  display: flex;
  flex-direction: column;

  font-size: 0.7rem;
}
.containers * {
  cursor: pointer;
}
.hiddenConts {
  display: none;
}
.activeConts {
  background: rgba(220, 220, 220, 1);
}

.containershead {
  display: flex;
  justify-content: space-between;
}
.containershead .containerArrow {
  flex: 1;

  display: flex;
  align-items: center;
  gap: 2%;
  color: inherit;

}

.containersitems {
  margin-inline-start: 7%;
}
.containersitems button {
  text-align: left;
  width: 100%;
}
.containersitems * {
  color: inherit;
}



.right {
  float: right;
  position: relative;

  width: 70%;
  height: 100%;
  padding-block: 2%;
  padding-inline: 4%;
  overflow-y: scroll;
  transition: 0.3s ease;
}


h1, h2 {
  font-weight: lighter;
  color: var(--b);
}
